<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To my Page</h1>

    <%if(userData.length>0){%>
        <h1>data hain </h1>
        <%userData.forEach(i=>{%>
            <h1><%=i.name%></h1>
            <h1><%=i.email%></h1>
            <h1><%=i.pwd%></h1>
            <%})%>
        <%}else{%>
            <h1>data nahi hain </h1>
            <%}%>

         
</body>
</html>