<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h1>Nitin</h1>
            <div class="">
                <p onclick="logout()">logout</p>
            </div>
        </nav>
        <h1>Welcome to my page</h1>
    </header>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        console.log(localStorage.getItem('token'))
        async function getDetails(){
            let token = localStorage.getItem('token')
            console.log("dashaboard : ",token)
            let d = await axios.post('/dashboard',{},{headers:{token}})
            if(!d.data.success){
                alert(d.data.msg)
                window.location.href='/login'
            }
           
        }
        getDetails()
function logout(){
    localStorage.removeItem('token')
}
    </script>
</body>
</html>