<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration PAGE</h1>
    <form action="/login" method="post" enctype="multipart/form-data">
        <input name="email" type="text" placeholder="email">
        <input name="pwd" type="text" placeholder="password">
        <input type="file" name="photo" multiple>
        <input type="file" name="img1" >
        <button>Register</button>
    </form>
</body>
</html>